<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <h1>Horarios Disponibles</h1>
    <ul>
        <% horarios.forEach(horario => { %>
            <li>
                <p>Terminal de Origen: <%= horario.terminal_origen %></p>
                <p>Terminal de Destino: <%= horario.terminal_destino %></p>
                <p>Hora de Salida: <%= horario.hora_salida %></p>
                <p>Duración del Viaje: <%= horario.duracion_viaje %></p>
                <a href="/calificar-horario/<%= horario.horario_id %>" class="contribucion-button orange">Califica un horario</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
